<!DOCTYPE CSS>
	<css>
	/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	body {
		background-color: #FFCCFF
		}
		h1 {
			font-size: 48px; 
			color: gray
		}
		h5 {
			font-size: 18px; 
			color: black
		}
		h3 {
			font-size: 30px; 
			color: gray
		}
		h4 {
			font-size: 24px; 
			color: gray
		}
		p {
			font-size: 14px; 
			color: black
		}
		h2 {
			font-size: 22px; 
			color: white
		}
		h6 {
			font-size: 12px;
		}

		.navigation {
			color: blue;
			font-size: 16;
			font-family: georgia serif;
			float: right;
		}
		.header {
			background: white;
			width: 960px
			height: 100px;
		}		


		.group {
			*zoom - 1
		}

		.group:before
		.group:after {
			content: "";
			display: table;
		}
		.group:after{
			clear: both;
		}

	</css>